@model EPiServer.Core.PageData
<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>@Model.Name</title>
</head>
<body>
<vc:main-navigation content="Model"></vc:main-navigation>
@RenderBody()
</body>
</html>